/* This is part of question one */

* { font-family: Garamond sans-serif;}

body{ background-color:#ffe6f2;
      width:100vw; }

h1 { margin-bottom:2rem; margin-top:2rem; 
     font-size:3em; text-align:center;
     text-shadow:3px 1px 1px 5px #999999;
 }

.a { width:55%; 
     height:auto;
     padding:2em;
     display:block; 
     margin:2rem auto; 
     box-sizing:content-box;
     box-shadow:1px 1px 1px 1px #999999;
     background-color:white;
}

label { font-size:1.2rem; margin-bottom:0.5em;}
